<div class="grid">
  <div class="style-container">
    <h2>Select Style</h2>
    <select (change)="changeStyle($event)">
      <option *ngFor="let s of styles" [value]="s">{{ s }}</option>
    </select>
  </div>

  <div class="code-container">
    <div>
      <div>JavaScript</div>
      <ngx-syntax-highlighter [language]="languages.JAVASCRIPT" [code]="syntax.code" [style]="selectedStyle"></ngx-syntax-highlighter>
    </div>

    <div>
      <div>TypeScript</div>
      <ngx-syntax-highlighter [style]="selectedStyle" [code]="typescript"></ngx-syntax-highlighter>
    </div>

    <div>
      <div>C#</div>
      <ngx-syntax-highlighter [language]="languages.CS" [code]="csharp"></ngx-syntax-highlighter>
    </div>

    <div>
      <div>Bash</div>
      <ngx-syntax-highlighter [language]="languages.BASH" [code]="bash" [forceLanguage]="true"></ngx-syntax-highlighter>
    </div>
  </div>
</div>
